@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center">CodeDefense Bug Tracker</h1>
    <p class="lead text-center">Keep track of all those nasty bugs for any project you are working on.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Create mulitple projects</h2>
        <p>
            With CodeDefense you can keep track of multiple projects at once.  Just hit "add project" on your profile page to get started!
        </p>
        <p><a class="btn btn-primary" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Add and delete bugs</h2>
        <p>Add new bugs or delete resolved ones on the go while finishing your application.</p>
        <p><a class="btn btn-primary" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Priority organization</h2>
        <p>Give priority to your bugs to know which ones need immediate attention.</p>
        <p><a class="btn btn-primary" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>