@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 id="homeTitle" class="text-center hidden-xs">CodeDefense Bug Tracker</h1>
    <h1 id="homeTitleXs" class="text-center hidden-lg hidden-md hidden-sm">CodeDefense</h1>
    <p class="lead text-center">Keep track of all those nasty bugs for any project you are working on.</p>
</div>

<div class="row">
    <div class="col-md-offset-2 col-md-4">
        <h2><b>Create mulitple projects</b></h2>
        <p>
            With CodeDefense you can keep track of multiple projects at once.  Just hit "add project" on your profile page to get started!
        </p>
    </div>
    <div class="col-md-offset-1 col-md-4  hidden-sm hidden-xs">
        <img src="~/Content/Images/Projects_HomePage.jpg" style="height: 150px" />
    </div>
</div>

<div class="row" style="margin-top:50px">
    <div class="col-md-offset-3 col-md-3 col-md-4  hidden-sm hidden-xs">
        <img src="~/Content/Images/AddDelete_HomePage.PNG" class="addDeletePic"/>
    </div>
    <div class="col-md-4" style="margin-top:30px">
        <h2><b>Add and delete bugs</b></h2>
        <p>Add new bugs or delete resolved ones on the go while finishing your application.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-offset-2 col-md-4" style="margin-top: 60px">
        <h2><b>Priority organization</b></h2>
        <p>Give priority to your bugs to know which ones need immediate attention.</p>
    </div>
    <div class="col-md-offset-1 col-md-4 col-md-4  hidden-sm hidden-xs">
        <img src="~/Content/Images/PriorityList.PNG" class="listPic"/>
    </div>
</div>