body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 18px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 400px;
}

.jumbotron {
    background-color: lightblue !important;
    width: 100% !important;
}

table {
    border:solid;
}

.listHeader {
    text-align: center;
    border: solid;
    border-color: black;
}

.listBody {
    text-align: center;
    border: solid;
    border-color: black;
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.button {
    height: 20px;
    width: 40px;
}

textarea {
    height: 200px;
    width: 400px;
}

.addDeletePic {
    width: 100px;
    text-align: center;
}

.listPic {
    width: 150px;
    margin-top: 80px;
}

.project {
    background-color: lightcyan;
    border: 1px solid;
    box-shadow: 5px 10px 8px grey;
    margin-bottom: 50px;
    width: 75%;
}

.pageTitle {
    font-size: 60px;
}

.delete {
    margin-right: 5px
}

.Immediate {
    background-color: darkred;
    color: white;
}
.High {
    background-color: #ff8533;
}
.Normal {
    background-color: #ffff66;
}
.Low {
    background-color: #5cd65c;
}

th {
    background-color: grey;
    color: white;
}
